doctype html
html(lang="jp")
  head
    meta(charset="UTF-8")
    title 素数じゃない数あつめ
  body(style="background-color:#fff0f5;")
    h1(align="center") 
      font(color="#b22222") 素数じゃない数あつめ
    div(align="center") 素数じゃない数（ただし，偶数でも5の倍数でもないもの）を集めています。<br>「1」はもう見つけています。

    div(align="center") 現在，#{maxNow}までの数を#{kosuu}個ランダムのとってきて調べています。<br>集まった数は全部で#{total}個です

    p(align="center")
      a(href="/search")  新しく調べた数字を見る
      br
      a(href="/list")  これまでに集めた数字を見る(小さい順にならべたもの）
