doctype html
html(lang="jp")
  head
    meta(charset="UTF-8")
    title 素数じゃない数あつめ
  body(style="background-color:#fff0f5;")
    h1(align="center") 
      font(color="#b22222") 素数じゃない数あつめ
    div(align="center") 素数じゃない数（ただし，偶数でも5の倍数でもないもの）を集めています。<br>「1」はもう見つけています。

    p(align="center")
      a(href="/search")  新しい数をさがす
