doctype html
html(lang="jp")
  head
    meta(charset="UTF-8")
    title 素数じゃない数あつめ
  body(style="background-color:#fff0f5;")
    h3(align="center")
      font(color="#b22222") 素数じゃない数あつめ  
    div(align="right")
      a(href= "/home") [ホームへ戻る]


    h2(align="center") 
      font(color="#8b4513") これまでに見つけた数（小さい順）
    div(align="left" style="margin:10px 150px") 
      h3 #{nplist}

    div(align="center") ---以上です---